
/local/

.vscode/
*.code-workspace

# PHP ignores
/vendor/
composer.lock
composer.phar
.env

# Docker ignores
/docker/
docker-compose.yml
docker-compose.override.yml
.env

# phpunit caches
/.phpunit.result.cache
/.phpunit.cache
